[submodule "lib/MCP40xx"]
	path = lib/MCP40xx
	url = https://github.com/dzalf/MCP40xx_Digital_Potentiometer
[submodule "lib/arduino-home-assistant"]
	path = lib/arduino-home-assistant
	url = https://github.com/Tank86/arduino-home-assistant
